$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #c220b4;
$color__text-input: #666;
$color__text-input-focus: #111;

$color__link: #f311e8; //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #751fa7; //midnightblue
$color__text-main: #b61bae;


/* couleur menu principal */
$color__linkmenu: #ff00f2; //royalblue
$color__linkmenu-visited: #b20dff; //purple
$color__linkmenu-hover: #af32a9; //midnightblue

/* couleur .site-title */
$color__linksite-title: #71189b; //royalblue
$color__linksite-title-visited: #981cd1; //purple
$color__linksite-title-hover: #a93cdb; //midnightblue




$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
